In [2]:
import pandas as pd
from openbb import obb

In [3]:
def obb_etf_historical(TICKERS):
    Pipe = []
    for i, TICKER in enumerate(TICKERS): 
        try: 
            print(i, TICKER)
            X = obb.etf.historical(TICKER).results
            Pipe.append(pd.DataFrame([{ 'Symbol':TICKER, 'Date':x.date, 'Volume':x.volume, 'Price':x.close } for x in X]))
        except Exception as E: 
            print(i, TICKER, E)
    pass
    return pd.concat(Pipe, ignore_index=1) 

obb_etf_historical(['SPY','QQQ'])

0 SPY
1 QQQ

    Symbol        Date    Volume       Price
0      SPY  2024-02-16  75461200  499.510010
1      SPY  2024-02-20  71736700  496.760010
2      SPY  2024-02-21  59603800  497.209991
3      SPY  2024-02-22  76402500  507.500000
4      SPY  2024-02-23  61321800  507.850006
..     ...         ...       ...         ...
495    QQQ  2025-02-10  20852800  529.250000
496    QQQ  2025-02-11  19325500  527.989990
497    QQQ  2025-02-12  25009400  528.299988
498    QQQ  2025-02-13  28714800  535.900024
499    QQQ  2025-02-14  17835900  538.150024

[500 rows x 4 columns]

In [4]:
pd.Series({ k:v for k,v in obb.etf.info('SPY').results[0] })

symbol                                                              SPY
name                                             SPDR S&P 500 ETF Trust
description           The trust seeks to achieve its investment obje...
inception_date                                               1993-01-21
fund_type                                          Exchange Traded Fund
fund_family                           SPDR State Street Global Advisors
category                                                    Large Blend
exchange                                                            PCX
exchange_timezone                                      America/New_York
currency                                                            USD
nav_price                                                     609.79443
total_assets                                               627680542720
trailing_pe                                                   27.351341
dividend_yield                                                   0.0117
dividend_rate_ttm                                                 5.662
dividend_yield_ttm                                             0.009286
year_high                                                        610.99
year_low                                                         493.56
ma_50d                                                         599.0098
ma_200d                                                        566.8725
return_ytd                                                     0.040302
return_3y_avg                                                    0.1322
return_5y_avg                                                  0.142797
beta_3y_avg                                                         1.0
volume_avg                                                   46906190.0
volume_avg_10d                                               38550280.0
bid                                                              609.72
bid_size                                                          900.0
ask                                                               609.8
ask_size                                                          900.0
open                                                             609.94
high                                                             610.99
low                                                              609.07
volume                                                         24107030
prev_close                                                       609.73
dtype: object