In [2]:
import pandas as pd
from openbb import obb

In [5]:
def obb_futures_curve(TICKERS):
    Pipe = []
    for i, TICKER in enumerate(TICKERS): 
        try: 
            print(i, TICKER)
            X = obb.derivatives.futures.curve(TICKER).results
            Pipe.append(pd.DataFrame([{ 'Ticker':TICKER, 'Expiry':x.expiration, 'Future':x.price } for x in X]))
        except Exception as E: 
            print(i, TICKER, E)
    pass
    return pd.concat(Pipe, ignore_index=1) 

obb_futures_curve(['NG'])

0 NG

   Ticker   Expiry  Future
0      NG  2025-03   3.650
1      NG  2025-04   3.670
2      NG  2025-05   3.680
3      NG  2025-06   3.780
4      NG  2025-07   4.070
5      NG  2025-08   4.000
6      NG  2025-11   4.220
7      NG  2025-09   3.600
8      NG  2025-10   3.970
9      NG  2025-12   4.630
10     NG  2026-01   5.020
11     NG  2026-02   4.510
12     NG  2026-03   4.000
13     NG  2026-04   3.670
14     NG  2026-05   3.670
15     NG  2026-06   3.790
16     NG  2026-07   3.660
17     NG  2026-08   3.670
18     NG  2026-11   4.150
19     NG  2026-09   3.910
20     NG  2026-10   3.970
21     NG  2026-12   4.520
22     NG  2027-01   4.780
23     NG  2027-02   4.420
24     NG  2027-03   3.700
25     NG  2027-04   3.340
26     NG  2027-05   3.340
27     NG  2027-06   3.280
28     NG  2027-07   3.590
29     NG  2027-08   3.680
30     NG  2027-11   3.680
31     NG  2027-09   3.380
32     NG  2027-10   3.600
33     NG  2027-12   3.910
34     NG  2028-01   4.000
35     NG  2028-02   3.880
36     NG  2028-03   3.500
37     NG  2028-04   3.230
38     NG  2028-05   3.210
39     NG  2028-06   3.340
40     NG  2028-07   3.470
41     NG  2028-08   3.580
42     NG  2028-11   3.620
43     NG  2028-09   3.570
44     NG  2028-10   3.540
45     NG  2028-12   3.830
46     NG  2029-01   4.450
47     NG  2029-02   4.230
48     NG  2029-03   3.460
49     NG  2029-04   3.030
50     NG  2029-05   2.890
51     NG  2029-06   5.610
52     NG  2029-07   3.130
53     NG  2029-08   3.200
54     NG  2029-11   3.728
55     NG  2029-09   3.305
56     NG  2029-10   3.230
57     NG  2029-12   3.770
58     NG  2030-01   3.930
59     NG  2030-02   4.096

In [4]:
def obb_futures_historical(TICKERS):
    Pipe = []
    for i, TICKER in enumerate(TICKERS): 
        try: 
            print(i, TICKER)
            X = obb.derivatives.futures.historical(TICKER).results
            Pipe.append(pd.DataFrame([{ 'Ticker':TICKER, 'Date':x.date, 'Volume':x.volume, 'Price':x.close } for x in X]))
        except Exception as E: 
            print(i, TICKER, E)
    pass
    return pd.concat(Pipe, ignore_index=1) 

obb_futures_historical(['NG'])

0 NG

    Ticker       Date    Volume  Price
0       NG 2024-02-20  201471.0  1.576
1       NG 2024-02-21  170658.0  1.773
2       NG 2024-02-22   87803.0  1.732
3       NG 2024-02-23   47590.0  1.603
4       NG 2024-02-26  110505.0  1.659
..     ...        ...       ...    ...
246     NG 2025-02-11  219162.0  3.519
247     NG 2025-02-12  194725.0  3.565
248     NG 2025-02-13  305899.0  3.628
249     NG 2025-02-14  305899.0  3.725
250     NG 2025-02-16    9434.0  3.622

[251 rows x 4 columns]