In [ ]:
# !pip install pandas scikit-learn tensorflow keras

In [ ]:
import warnings
import pandas as pd
import sklearn as skl
import keras as kr

warnings.filterwarnings('ignore')

# Data

In [3]:
Data = pd.DataFrame()
Data['X'] = [ 1,  2,  3,  4,  5,  6,  7,  8,  9,  10]
Data['Y'] = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Data

    X    Y
0   1   10
1   2   20
2   3   30
3   4   40
4   5   50
5   6   60
6   7   70
7   8   80
8   9   90
9  10  100

In [4]:
Train = Data[:5]
Train

   X   Y
0  1  10
1  2  20
2  3  30
3  4  40
4  5  50

In [5]:
Test = Data[5:]
Test

    X    Y
5   6   60
6   7   70
7   8   80
8   9   90
9  10  100

# Scikit Learn

In [6]:
model = skl.linear_model.LinearRegression()
model.fit(   Train[['X']], Train['Y'])
model.predict(Test[['X']])

array([ 60.,  70.,  80.,  90., 100.])

# Keras

In [7]:
model = kr.Sequential()
model.add(kr.layers.Dense(4096, activation='linear'))
model.add(kr.layers.Dense(256,  activation='linear'))
model.add(kr.layers.Dense(16,   activation='linear'))
model.add(kr.layers.Dense(1,    activation='linear'))
model.compile(optimizer='adam', loss='mse')

model.fit(Train[['X']], Train['Y'], epochs=256, verbose=0)
model.predict(Test[['X']]).round(1)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 105ms/step

array([[ 60.],
       [ 70.],
       [ 80.],
       [ 90.],
       [100.]], dtype=float32)