In [1]:
import requests as req
import pandas as pd

In [2]:
def SLICKCHARTS_CONSTITUENTS(indice):
    return pd.read_html(req.get(f'https://www.slickcharts.com/{indice}', headers={ 'User-Agent':'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36', 'X-Requested-With':'XMLHttpRequest' }).content)[0]

US_30   = SLICKCHARTS_CONSTITUENTS('dowjones')
US_100  = SLICKCHARTS_CONSTITUENTS('nasdaq100')
US_500  = SLICKCHARTS_CONSTITUENTS('sp500')

In [3]:
US_30.head()

   #                  Company Symbol    Weight   Price    Chg     % Chg
0  1  Goldman Sachs Group Inc     GS  8.922765  625.60 -16.66  (-2.59%)
1  2   Unitedhealth Group Inc    UNH  6.980001  466.42 -36.00  (-7.17%)
2  3           Microsoft Corp   MSFT  5.781195  408.21  -7.92  (-1.90%)
3  4           Home Depot Inc     HD  5.482639  385.30  -9.34  (-2.37%)
4  5  Visa Inc Class A Shares      V  4.869274  348.53  -1.96  (-0.56%)

In [4]:
US_100.head()

   #         Company Symbol Portfolio%   Price   Chg     % Chg  Unnamed: 7
0  1       Apple Inc   AAPL      9.32%  245.55 -0.28  (-0.11%)         NaN
1  2     NVIDIA Corp   NVDA      8.27%  134.43 -5.68  (-4.05%)         NaN
2  3  Microsoft Corp   MSFT      7.62%  408.21 -7.92  (-1.90%)         NaN
3  4  Amazon.com Inc   AMZN      5.72%  216.58 -6.30  (-2.83%)         NaN
4  5    Broadcom Inc   AVGO      4.24%  218.66 -8.08  (-3.56%)         NaN

In [5]:
US_500.head()

   #                       Company Symbol Weight   Price    Chg     % Chg
0  1                    Apple Inc.   AAPL  7.16%  245.55  -0.28  (-0.11%)
1  2                   Nvidia Corp   NVDA  6.62%  134.43  -5.68  (-4.05%)
2  3                Microsoft Corp   MSFT  5.96%  408.21  -7.92  (-1.90%)
3  4                Amazon.com Inc   AMZN  4.02%  216.58  -6.30  (-2.83%)
4  5  Meta Platforms, Inc. Class A   META  2.92%  683.55 -11.29  (-1.62%)