In [6]:
# !pip install pandas

In [7]:
import pandas as pd

# Configs

In [8]:
pd.set_option('display.width',       None)
pd.set_option('display.max_columns', None)

# Input

In [9]:
pd.DataFrame({ 'X':[10,20,30], 'Y':[40,50,60] })

    X   Y
0  10  40
1  20  50
2  30  60

In [10]:
pd.DataFrame(index=['A','B','C'], columns=['X','Y'], data=[[10,40],[20,50],[30,60]])

    X   Y
A  10  40
B  20  50
C  30  60

In [11]:
Data = pd.DataFrame()
Data.index = ['A','B','C']
Data['X']  = [10,20,30]
Data['Y']  = [40,50,60]
Data

    X   Y
A  10  40
B  20  50
C  30  60

# Cast

In [12]:
Data = pd.DataFrame()
Data['X'] = pd.to_numeric(['100','200','300'])
Data['Y'] = pd.to_numeric(['nan','None','-'], errors='coerce')
Data

     X   Y
0  100 NaN
1  200 NaN
2  300 NaN

# Reverse

In [ ]:
Data = pd.DataFrame({ 'X':['X1','X2','X3'], 'Y':['Y1','Y2','Y3'] })
Data[::-1].reset_index(drop=1)

    X   Y
0  X3  Y3
1  X2  Y2
2  X1  Y1

# Columns

In [14]:
Data = pd.DataFrame({
    'A': ['A1','A2','A3','A4','A5'], 
    'B': ['B1','B2','B3','B4','B5'], 
    'C': ['C1','C2','C3','C4','C5'], 
    'D': ['D1','D2','D3','D4','D5'], 
    'E': ['E1','E2','E3','E4','E5'], 
})

In [15]:
list(Data.columns)

['A', 'B', 'C', 'D', 'E']

In [16]:
for col in Data:
    print(col)

A
B
C
D
E

In [17]:
Data[['A','E']]

    A   E
0  A1  E1
1  A2  E2
2  A3  E3
3  A4  E4
4  A5  E5

In [18]:
Data.loc[:, 'B':'D']

    B   C   D
0  B1  C1  D1
1  B2  C2  D2
2  B3  C3  D3
3  B4  C4  D4
4  B5  C5  D5

# Unions

In [19]:
Data1 = pd.DataFrame({ 'A':['A1','A2','A3'], 'B':['B1','B2','B3'] })
Data2 = pd.DataFrame({ 'C':['C1','C2','C3'], 'D':['D1','D2','D3'] })

pd.concat([Data1, Data2], axis=1)

    A   B   C   D
0  A1  B1  C1  D1
1  A2  B2  C2  D2
2  A3  B3  C3  D3

In [20]:
Data1 = pd.DataFrame({ 'X':[10,20], 'Y':[30,40] })
Data2 = pd.DataFrame({ 'X':[50,60], 'Y':[70,80] })

pd.concat([Data1, Data2], ignore_index=True)

    X   Y
0  10  30
1  20  40
2  50  70
3  60  80

# Slice

In [21]:
Data = pd.DataFrame({ 'X':[10,20,30,40,50], 'Y':[100,200,300,400,500] })

In [22]:
Data.head(3)

    X    Y
0  10  100
1  20  200
2  30  300

In [23]:
Data.tail(3)

    X    Y
2  30  300
3  40  400
4  50  500

# Filter

In [24]:
Data = pd.DataFrame({ 'X':['X1','X2','X3'], 'Y':['Y1','Y2','Y3'] })

In [25]:
Data[(Data['X']=='X2') & (Data['Y']=='Y2')] .reset_index(drop=1)

    X   Y
0  X2  Y2

In [26]:
Data[(Data[['X','Y']] == ['X2','Y2']).all(axis=1)] .reset_index(drop=1)

    X   Y
0  X2  Y2

# Operations

In [27]:
Data = pd.DataFrame({ 'X':[10,20,30], 'Y':[40,50,60] })

Data['Sum']  = Data['X'] + Data['Y']
Data['Prod'] = Data['X'] * Data['Y']
Data

    X   Y  Sum  Prod
0  10  40   50   400
1  20  50   70  1000
2  30  60   90  1800

# Totals

In [28]:
Data = pd.DataFrame({ 'X':[10,20,30], 'Y':[40,50,60] })

Data['X'].sum()
Data['X'].prod()

Data['Y'].mean()
Data['Y'].median()

50.0

# Ranks

In [29]:
Data = pd.DataFrame({ 'X':[100,200,300,400,500] })
Data['Rank Asc']  = Data['X'].rank(ascending=True)  .astype(int)
Data['Rank Desc'] = Data['X'].rank(ascending=False) .astype(int)
Data

     X  Rank Asc  Rank Desc
0  100         1          5
1  200         2          4
2  300         3          3
3  400         4          2
4  500         5          1

# Loopings

In [30]:
Data = pd.DataFrame({ 'X':[10,20,30], 'Y':[40,50,60] })

In [31]:
for i, row in Data.iterrows():
    print(i, row['X'], row['Y'])

0 10 40
1 20 50
2 30 60

In [32]:
pipe = []
for i, row in Data.iterrows():
    pipe.append({
        'Acum X': Data['X'][:i+1].sum(), 
        'Acum Y': Data['Y'][:i+1].mean(), 
    })
pass

pd.DataFrame(pipe)

   Acum X  Acum Y
0      10    40.0
1      30    45.0
2      60    50.0

# Rolling Functions

In [33]:
Data = pd.DataFrame({ 'X':[10,20,30,40,50], 'Y':[100,200,300,400,500] })

Data['Avg'] = Data['X'].rolling(3, min_periods=1).mean()
Data['Med'] = Data['Y'].rolling(3, min_periods=1).median()
Data

    X    Y   Avg    Med
0  10  100  10.0  100.0
1  20  200  15.0  150.0
2  30  300  20.0  200.0
3  40  400  30.0  300.0
4  50  500  40.0  400.0

# Grouping

In [34]:
Data = pd.DataFrame()
Data['By'] = ['A','A','A','A','A','B','B','B','B','B']
Data['X']  = [ 10, 20, 30, 40, 50, 60, 70, 80, 90,100]

In [35]:
Data['Avg'] = Data.groupby('By', sort=0)['X'].rolling(3, min_periods=1).mean()   .reset_index(0, drop=1)
Data['Med'] = Data.groupby('By', sort=0)['X'].rolling(3, min_periods=1).median() .reset_index(0, drop=1)
Data

  By    X   Avg   Med
0  A   10  10.0  10.0
1  A   20  15.0  15.0
2  A   30  20.0  20.0
3  A   40  30.0  30.0
4  A   50  40.0  40.0
5  B   60  60.0  60.0
6  B   70  65.0  65.0
7  B   80  70.0  70.0
8  B   90  80.0  80.0
9  B  100  90.0  90.0

In [36]:
Data['Rank Asc']  = Data.groupby('By', sort=0)['X'].rank(ascending=True)  .astype(int)
Data['Rank Desc'] = Data.groupby('By', sort=0)['X'].rank(ascending=False) .astype(int)
Data

  By    X   Avg   Med  Rank Asc  Rank Desc
0  A   10  10.0  10.0         1          5
1  A   20  15.0  15.0         2          4
2  A   30  20.0  20.0         3          3
3  A   40  30.0  30.0         4          2
4  A   50  40.0  40.0         5          1
5  B   60  60.0  60.0         1          5
6  B   70  65.0  65.0         2          4
7  B   80  70.0  70.0         3          3
8  B   90  80.0  80.0         4          2
9  B  100  90.0  90.0         5          1

In [37]:
pipe = []
for BY, Sec in Data.groupby('By', sort=0):
    pipe.append({ 
        'By':  BY, 
        'Min': Sec['X'].min(), 
        'Avg': Sec['X'].median(), 
        'Max': Sec['X'].max(), 
    })
pass
pd.DataFrame(pipe)

  By  Min   Avg  Max
0  A   10  30.0   50
1  B   60  80.0  100